---

const {article, style, isslider, showdescription, shouldll,key} = Astro.props;
import { Image } from 'astro:assets';

import bookmarkicon from "../../../images/bookmark.svg";
import usericon from "../../../images/user.svg";

var sliderclass = "";
if(isslider==true){
    sliderclass = "swiper-slide";
}

var descriptionclass = "";
if(showdescription==true){
    descriptionclass = "sm:block";
}


var llstyle = "lazy";
if(shouldll==="false"){
    llstyle = "eager";
}

let url = '/'+article?.cat?.category_nicename+'/'+article?.post_name;
let d = new Date(article?.post_modified);
let datestring = d.getDate()  + "." + (d.getMonth()+1) + "." + d.getFullYear();

let avtor = article.author;
if(avtor == ""){
    avtor="novice";
}

let place = ""
let placeat = ""

place = article?.loc?.slovensko_ime;
placeat = article?.loc?.nemsko_ime;

let placeclass = "";
if(place === null || place===""){
    placeclass = "hidden";
}


let personname =" ";
			
if(article?.acf?.name!=null){

    personname = ""+article?.acf?.name ;
}
if(article?.acf?.surname!=null){
    personname = personname+" "+article?.acf?.surname ;
}


let excerpt = ""
if(article.acf!=false && article.acf.leading!=""){
    excerpt = article.acf.leading;
}else{
    if(article?.excerpt!=""){
        excerpt = (article?.excerpt).replace(/<[^>]*>?/gm, '');
        excerpt = excerpt.replace("[&hellip;]", '...');
    }
}


let imgsrc="";

if(!("thumbthird" in article) || article?.thumbfull===false){
    imgsrc = 'https://sfsn.si/wp-content/themes/novice/dummies/nd_third.jpg';
            
}else{
    imgsrc = article?.thumbthird;
    
    if( style === "condolations"){
        
        imgsrc = article?.thumbthirdhigh;
    }
}


---

{ 
    ()=> {
      if (style === "" || style === "normal") {
        return(

            <a href={url} class={`col-span-1 md:col-span-1 md:row-span-1  overflow-hidden ${sliderclass}`} >
                <article class="p-2 bg-sneg-white h-full flex flex-col">
                    <div class="overflow-hidden relative ">
                        
                        <Image inferSize format="WebP" class="ease-out duration-4000 transition-all hover:scale-103 aspect-video"  src={imgsrc} loading={llstyle} alt={excerpt} />
                        <div class="absolute left-0 bottom-0 block group">
                            <span class={`block uppercase px-2 bg-klopinj-blue text-white tracking-widels text-sm absolute left-0 bottom-0 text-nowrap ease-out duration-300 transition-all opacity-100 group-hover:opacity-0 z-10 ${placeclass}`}>{place}</span>
                            <span class={`block uppercase px-2 bg-klopinj-blue text-white tracking-widels text-sm absolute left-0 bottom-0 text-nowrap ease-out duration-300 transition-all opacity-0 group-hover:opacity-100 ${placeclass}`}>{placeat}</span>
                        </div>
                    </div>
                    <div class="sm:px-3 pt-2 flex flex-col flex-1 justify-between">
                        
                        <h2 class="text-xl sm:text-3xl line-clamp-3 text-ellipsis font-bold leading-novice"><Fragment set:html={article?.post_title}/></h2>	
                        <span class={`hidden ${descriptionclass}`}>
                            <p class="text-base font-serif mb-4 line-clamp-3">{excerpt}</p>
                        </span>
                        <div class="flex flex-col sm:flex-row justify-end sm:justify-between flex-1 gap-1 sm:gap-4 mt-2 hidden">
                            <span class="uppercase flex flex-row items-center text-klopinj-blue tracking-widels text-xs sm:text-md">
                                
                                <Image inferSize format="WebP" src={bookmarkicon} loading={llstyle} alt="Date icon" class=""/>
                                
                                {datestring}
                            </span>

                            <span class="uppercase flex flex-row items-center text-klopinj-blue tracking-widels text-xs sm:text-md">
                                
                                <Image inferSize format="WebP" class=" max-h-4 mr-2" src={usericon} alt="Avtor icon" loading={llstyle}/>
                                {avtor}
                            </span>
                        </div>
                    </div>
                
                </article>
            </a>


        )
      } else if( style === "opinion") {
        let avatarsrc = "";
     
        if(typeof article?.node?.mnenje?.avatar?.mediaItemUrl == 'undefined' ){
            avatarsrc="/tmpimages/svgs/person.svg";
        }else{
            avatarsrc=article?.node?.mnenje?.avatar?.mediaItemUrl;
        }

        return(
            <a href={url} class="row-start-2 md:row-start-1  basis-1/2 md:basis-1/3 flex flex-col justify-between  overflow-hidden block">
                <div class="flex-none relative flex justify-center z-10 relative">
                    
                    
                    <Image height="181" width="144" class="mx-auto z-10 -mb-4 max-h-36 relative"  src={avatarsrc} alt={article?.post_title}/>

                    <div class="mx-auto absolute w-32 h-32 border border-black bg-white rounded-full top-8"></div>
                </div>
                <div class="flex-auto border-b-8 border-t-8 border-iskanje-grey z-20 relative bg-white text-center ">
                    <span class="px-4 block">
                        <span class="uppercase text-klopinj-blue text-center text-4xl font-light mt-4 block leading-novice">{personname}</span>
                        <h2 class="text-xl sm:text-2xl mb-2 text-ellipsis mt-2 line-clamp-4 sm:line-clamp-3 leading-novice"><Fragment set:html={article?.post_title}/></h2>
                        <p class="hidden sm:block font-serif text-center mt-8 mb-8 text-xl italic line-clamp-3">{excerpt}</p>
                    </span>
                </div>
            </a>
        )
      } else if( style === "condolations") {
        return(
            <a href={url} class="col-span-1 h-full  overflow-hidden swiper-slide" >
                <article class="p-3 bg-sneg-white flex flex-row gap-4 h-full">
                
                    <div class=" overflow-hidden md:basis-1/2 relative block">
                        <div class="absolute block group relative ">
                            <span class={`block uppercase px-2 bg-klopinj-blue text-white tracking-widels text-sm absolute right-0 top-0 text-nowrap ease-out duration-300 transition-all opacity-100 group-hover:opacity-0 z-10 ${placeclass}`}>{place}</span>
                            <span class={`block uppercase px-2 bg-klopinj-blue text-white tracking-widels text-sm absolute right-0 top-0 text-nowrap ease-out duration-300 transition-all opacity-0 group-hover:opacity-100 z-10 ${placeclass}`}>{placeat}</span>
                        </div>
                        
                        <Image height="292" width="164" format="WebP" class="max-h-52 sm:max-h-fit sm:max-h w-auto ease-out duration-4000 transition-all hover:scale-103 sepia"  src={imgsrc} loading={llstyle} alt={excerpt} />
                    </div>
        
                    <div class="flex flex-col md:basis-1/2 justify-between">

                        <span class="block">
                            <span class="text-black text-2xl">{article?.acf?.dateinfo}</span>
                        </span>
                        <span class="text-papez-purple text-3xl leading-novice block">{personname}</span>
                        
                        
                        
                        <h2 class="text-xl sm:text-2xl sm:text-2xl  mt-4 leading-novice line-clamp-5"><Fragment set:html={article?.post_title}/></h2>	
                    </div>
                
                </article>
            </a>
        )
      }
    }