---
import imagevi from "../../images/vi.png";

import { Image } from 'astro:assets';
import { Picture } from 'astro:assets';

import { getPostsByCategoryId } from '../../lib/article';

import { getPotw } from '../../lib/persons';

import Quarter from '../page/elements/quarterr.astro'
import Third from '../page/elements/thirdr.astro'
import One from '../page/elements/oner.astro'
import { array } from "astro:schema";



const {block,articles,counter} = Astro.props;



const blckjsn = JSON.parse(block.attributesJSON);

/* Filter following articles for this block*/
const blockarticles = articles.slice(counter-1, counter);

//let potw = await getPotw();//Person of the week


---


<section class=" px-1 md:px-4 py-12 overflow-hidden ">
	<div class="grid grid-cols-6 grid-flow-row md:grid-flow-col gap-4 mx-auto lg:max-w-screen-lg max-w-7xl 2xl:max-w-nov-width">
		

		{blockarticles.map(function (article,k) {
			
			let url = '/osebe/'+article.post_name;
			
			let personname =" ";
				if(article?.acf?.name!=null){
						personname = ""+article?.acf?.name ;
				}
				if(article?.acf?.surname!=null){
					personname = personname+" "+article?.acf?.surname ;
				}

				let imgsrc="";
				if(!("thumbtwothird" in article) || article?.thumbfull===false){
					imgsrc = 'https://splet.novice.at/wp-content/themes/novice/dummies/nd_twothirds.jpg';
				}else{
					imgsrc = article?.thumbtwothird;
				}

				return (

					<a href={url} class="col-span-6 md:col-span-4" >
			
						<article class="relative">
							<div class="overflow-hidden">
								<Picture width="733" height="413" class="ease-out duration-4000 transition-all hover:scale-103" src={imgsrc}  loading="lazy" alt={article?.post_title}/>
								
							</div>
							<div class="absolute p-4 bottom-0 z-20 ">
								
								
								<span class="z-20 relative">
									<span class="bg-papez-purple text-gmajnsko-brown uppercase px-4 text-lg mb-2 inline-block">obraz tedna</span><span class="bg-sele-ivory uppercase px-4  text-lg mb-2 inline-block">{personname}</span>
								
									<h2 class="text-sele-ivory text-2xl sm:text-4xl leading-novice z-20 relative"><Fragment set:html={article.post_title}/></h2>
								
								</span>
								<div class="hidden sm:block z-10" style="position: absolute; top:0;left:0; width:100%;height:100%;background:linear-gradient(to top, rgba(0,0,0,0.5), transparent);"></div>
							</div>	
							<div class="z-10" style="position: absolute; bottom:0;left:0; width:100%;height:50%;background:linear-gradient(to top, rgba(0,0,0,0.85) 50%, transparent);"></div>
						</article>

					</a>
						
					<span class="hidden sm:block col-span-6 md:col-span-4 flex flex-col justify-center pl-12">
						<p class=" text-gmajnsko-brown text-4xl line-clamp-5 text-ellipsis leading-novice">»{article.acf.citat}«</p>
						<p class=" text-gmajnsko-brown mt-4 text-xl">{personname}</p>
					</span>
				
				);
			

		})}
		
	</div>
</section>

