---
import { getAds } from '../../lib/ads';

import { getPostsByCategoryId } from '../../lib/article';
import EventsHome from '../react/EventsHome'; 
import Third from './elements/thirdr.astro';
import Twothirds from './elements/twothirdsr.astro';


const {block} = Astro.props;

const blckjsn = JSON.parse(block.attributesJSON);
let datacatid = blckjsn?.data?.blockcategory;
if (datacatid === undefined){
	datacatid = '["6"]';
}



let articles = await getPostsByCategoryId(1642,3);//API
if(articles === undefined){
	articles = new Array();
}

let ads = await getAds();

---

<section class="bg-sele-ivory px-1 md:px-4 pt-4 md:pt-12 pb-8 md:pb-24 flex gap-4">

	<div class="hidden 2xl:flex flex-1  justify-end">
		<a href={ads?.adleft?.povezava?.url} target="_blank">
			<img src={ads?.adleft?.url} aria-label="Reklama za... desno">
		</a>
	</div>

	<div class="grid grid-cols-3 gap-4 lg:w-lg 2xl:w-2xl mx-auto 2xl:mx-0">
		<div class="col-span-3 md:col-span-2">
			
			<div class="grid grid-cols-2 gap-4">
				{articles.map(function (article,k) {
					
					
					
					if(k==0){
						return (
							<Twothirds article={article} shouldll="false"/>
						);
					}

					if(k>0){		
						return (
							<Third article={article} style="normal" isslider="false" showdescription="false" shouldll="false"/>
						);
					}
		
				})}
				
				
			</div>
		</div>
		<div class="col-span-3 md:col-span-1 flex flex-col">
			<div class="flex flex-row border-b-2 border-dashed border-jepa-grey border-dashed justify-between items-center mb-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16" data-astro-source-file="/Users/ama/Dropbox/Mac (2)/Desktop/noviceNew/src/components/article/Articlefooter.astro" data-astro-source-loc="48:151"> <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" ></path> </svg>
				<h2 class="col-span-2 font-light text-5xl text-klopinj-blue uppercase text-center leading-novice">Prireditve</h2>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" data-astro-source-file="/Users/ama/Dropbox/Mac (2)/Desktop/noviceNew/src/components/article/Articlefooter.astro" data-astro-source-loc="53:152"> <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" ></path> </svg>
			</div>
			
			<EventsHome client:load />

		</div>
	</div>

	<div class="hidden 2xl:flex flex-1  justify-start">
		<a href={ads?.adright?.povezava?.url} target="_blank" aria-label="Reklama za... desno">
			<img src={ads?.adright?.url} alt="Reklama: za ">
		</a>
	</div>

</section>