---
import { normalizeTheLocale } from 'astro:i18n';
import { getImageByIds } from '../../lib/api';
const {block} = Astro.props;

const blckjsn = JSON.parse(block.attributesJSON);

const imageid = blckjsn?.data?.oglas;

let img ="";
let image = "";
let title = "";
let sourceUrl = "";
let caption = "";
let description = "";
let copyright = "Novice";
let noskip=false;

if(typeof imageid !== "undefined"){
  
    img = await getImageByIds(imageid);


    if(Array.isArray(img) && img.length!=0){
        image = img[0].node;
        noskip=true;
        if(image.title != null){
            title = image.title;
        }

        if(image.sourceUrl != null){
            sourceUrl = image.sourceUrl;
        }

        if(image.description != null){
            description = image.description;
        }

        if(image.caption != null){
            caption = image.caption;
        }
    }else{
        noskip=false;
        console.log("noskup2")
    }
    
}else{
    noskip=false;
}

---


<section class="bg-sele-ivory" >
	<div class="mx-auto lg:max-w-screen-lg max-w-7xl 2xl:max-w-nov-width">
        {noskip && 
            <a href={sourceUrl} class="glightbox" data-title={title} data-description={caption} aria-label="Reklama za... center">
                <img class="mx-auto" src={sourceUrl} alt={description}/>
            </a>
        }
	</div>
</section>